.subscribe {
	position: relative;
	padding: 20px 0;

	&__row {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px 20px;
		margin: 0 -15px;
		@include lg(margin, 0 32px);
		@include mb(30px);
		background: #17213c;

		::after {
			content: "";
			position: absolute;
			z-index: -1;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 77px;
			background: #252b42;
		}
	}

	&__title {
		width: 266px;
		min-width: 266px;
		text-align: center;
		font-weight: 700;
		font-size: 24px;
		line-height: 133%;
		letter-spacing: 0.1px;
		color: #ffffff;
	}

	&__form {
		display: flex;
		flex-direction: column;
		@include mb(30px);
	}

	&__input {
		flex: 1 1 auto;
		padding: 15px 20px;
		border: 1px solid #e6e6e6;
		border-radius: 5px;
		color: #000;
		background: #f9f9f9;

		&::placeholder {
			text-align: center;
			font-weight: 400;
			font-size: 14px;
			line-height: 200%;
			letter-spacing: 0.2px;
			color: #737373;
		}
	}

	&__button {
		flex: 0 0 auto;
		padding: 15px 22.5px;
		border: 1px solid #e6e6e6;
		border-radius: 5px;
	}
	@include xs-block() {
		&__form {
			flex-direction: row;
			@include mb(0);
		}

		&__input {
			border-radius: 5px 0 0 5px;
			&::placeholder {
				text-align: left;
			}
		}
		&__button {
			border-radius: 0 5px 5px 0;
		}
	}
	@include md-block {
		&__row {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 30px 50px;
			@include mb(0);
			@include mr(50px);
		}
		&__title {
			text-align: left;
		}
		&__form {
			flex: 0 1 50%;
		}
	}
}
