section.subscribe
	.container
		.subscribe__row
			h3.subscribe__title Subscribe For Latest Newsletter
			form.subscribe__form(action="#") 
				input.subscribe__input(type="email" placeholder="Your Email" required)
				button.subscribe__button.btn.btn--orange(type='submit') Subscribe