.header {
	position: absolute;
	z-index: $z-header;
	left: 0;
	top: 0;
	width: 100%;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		position: relative;
		z-index: $z-header;
		padding: calc(36 / 1046 * 100%) 0;
		font-weight: 700;
		font-size: 24px;
		line-height: 133%;
		letter-spacing: 0.1px;
		color: #252b42;

		&[data-state="menu-open"] {
			color: #fff;
		}
	}

	&__menu {
	}
	@include sm-block {
		&__row {
			justify-content: start;
		}
		&__logo {
			margin-right: calc(132 / 1046 * 100%);
		}
	}
}
@import "./nav/nav.scss";
