section.whoweare
	.container
		.whoweare__vp
			.whoweare__head.head-block 
					h2.head-block__title Who We Are
					p.head-block__subtitle Problems trying to resolve the conflict between the two major realms <br>of Classical physics: Newtonian mechanics 
			.whoweare__row
				.whoweare__video 
					<iframe width="560" height="315" src="https://www.youtube.com/embed/9bH1GC0Om2g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				.whoweare__body
					.whoweare__content.content-whoweare 
						.content-whoweare__head.head-block
							h2.head-block__title Most trusted in our field
							p.head-block__subtitle Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
					.whoweare__items
						.whoweare__item.item-whoweare 
							.item-whoweare__icon 
								img(src=require("./Vector-whoweare.png"), alt="the quick fox jumps over the lazy dog")
							.item-whoweare__content.content-whoweare
								h5.item-whoweare__title the quick fox jumps over the lazy dog
								p.item-whoweare__text Things on a very small scale ...
						.whoweare__item.item-whoweare 
							.item-whoweare__icon 
								img(src=require("./Vector-whoweare-1.png"), alt="the quick fox jumps over the lazy dog")
							.item-whoweare__content.content-whoweare
								h5.item-whoweare__title the quick fox jumps over the lazy dog
								p.item-whoweare__text Things on a very small scale ...