body {
	background: #fafafa;
}
.services {
	&__row {
		margin: 0 -15px;
	}
	&__column {
	}

	@include from(826px) {
		&__row {
			@include row-flex();
			justify-content: center;
			margin-top: calc(-111 / 1046 * 100%);
			position: relative;
			z-index: 1;
		}
		&__column {
			width: 50%;
			&:last-child {
				width: 100%;
			}
		}
	}

	@include from(1042px) {
		&__column {
			margin-left: -30px;
			margin-right: -30px;
			@include col();
			@include size(4);
			&:last-child {
				@include size(4);
			}
		}
	}

	&__item {
	}
}

.item-service {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 35px 40px;
	text-align: center;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background: #ffffff;
	transition: background 0.2s ease 0s, color 0.2s ease 0s;
	@include mb(10px);

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 48px;
		svg path {
			fill: #0d5c63;
		}
	}

	&__title {
		flex: 1 1 auto;
		font-weight: 700;
		font-size: 24px;
		line-height: 133%;
		letter-spacing: 0.1px;
		color: #252b42;
	}

	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 143%;
		letter-spacing: 0.2px;
		color: #737373;
	}
	@include from(1042px) {
		text-align: left;

		&__icon {
			justify-content: start;
		}
	}
	&:hover {
		background: #0d5c63;
		color: #fff;

		.item-service__icon {
			svg path {
				fill: #fff;
			}
		}
		.item-service__title,
		.item-service__text {
			color: inherit;
		}
	}
}
