header.header
	nav.nav-header
		ul.nav-header__list
			li.nav-header__item
				a.nav-header__link(href="./index.html") Главная
				ul.nav-header-subnav
					li.nav-header-subnav__item
						a.nav-header-subnav__link(href="./post-full.html") Создание сайтов
					li.nav-header-subnav__item
						a.nav-header-subnav__link(href="./post-full.html") Интернет-маркетинг
					li.nav-header-subnav__item
						a.nav-header-subnav__link(href="./post-full.html") Продвижение видео
			li.nav-header__item
				a.nav-header__link(href="./post-full.html") Статьи
				ul.nav-header-subnav
					li.nav-header-subnav__item
						a.nav-header-subnav__link(href="./post-full.html") Создание сайтов
					li.nav-header-subnav__item
						a.nav-header-subnav__link(href="./post-full.html") Интернет-маркетинг
					li.nav-header-subnav__item
						a.nav-header-subnav__link(href="./post-full.html") Продвижение видео
			li.nav-header__item
				a.nav-header__link(href="./post-full.html") Обо мне
				ul.nav-header-subnav
					li.nav-header-subnav__item
						a.nav-header-subnav__link(href="./post-full.html") Создание сайтов
					li.nav-header-subnav__item
						a.nav-header-subnav__link(href="./post-full.html") Интернет-маркетинг
					li.nav-header-subnav__item
						a.nav-header-subnav__link(href="./post-full.html") Продвижение видео
			li.nav-header__item
				a.nav-header__link(href="./post-full.html") Реклама
				ul.nav-header-subnav
					li.nav-header-subnav__item
						a.nav-header-subnav__link(href="./post-full.html") Создание сайтов
					li.nav-header-subnav__item
						a.nav-header-subnav__link(href="./post-full.html") Интернет-маркетинг
					li.nav-header-subnav__item
						a.nav-header-subnav__link(href="./post-full.html") Продвижение видео
		button.burger(type='button')
			span
	.header__right
		a.nav-header__item.nav-header__link.header__profile(href="./profile.html") Профиль
		a.nav-header__item.nav-header__link.header__profile(href="./signin.html") Вход
		form.header__search(action="./search-full.html" method="get") 
			input.header__input(type="text" placeholder="Поиск по блогу" tabindex='1')