.search-full
	.container
		h1.search-full__title Результаты поиска “Создание сайта”
.post
	.container
		.post__body
			.post__content 
				h2.post__title(href="#")  Как писать код быстро и безболезненно?
				p.post__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
				.post__footer
					ul.post__date
						li.post__date-item
							time(datetime='21-06-2020') 21.06.2020
						li.post__date-item
							a(href="#") создание сайтов
					.post__footer-action ответить
.post
	.container
		.post__body
			.post__content 
				h2.post__title(href="#")  Как писать код быстро и безболезненно?
				p.post__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
				.post__footer
					ul.post__date
						li.post__date-item
							time(datetime='21-06-2020') 21.06.2020
						li.post__date-item
							a(href="#") создание сайтов
					.post__footer-action ответить
.post
	.container
		.post__body
			.post__content 
				h2.post__title(href="#")  Как писать код быстро и безболезненно?
				p.post__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
				.post__footer
					ul.post__date
						li.post__date-item
							time(datetime='21-06-2020') 21.06.2020
						li.post__date-item
							a(href="#") создание сайтов
					.post__footer-action ответить