section.experience
	.container
		.experience__head.head-block 
			h2.head-block__title Designing Better Experience
			p.head-block__subtitle Problems trying to resolve the conflict between the two major realms <br>of Classical physics: Newtonian mechanics 
		.experience__row
			.experience__column
				.experience__item.item-experience
					.item-experience__icon 
						img(src=require("./clarity_users-lineexpenience.png"), alt="clarity_users-lineexpenience")
					p.item-experience__volume 972 +
					p.item-experience__text Consumer Products 
			.experience__column
				.experience__item.item-experience
					.item-experience__icon 
						img(src=require("./bx_bx-statsexpenience.png"), alt="bx_bx-statsexpenience")
					p.item-experience__volume 181 +
					p.item-experience__text Financial Services 
			.experience__column
				.experience__item.item-experience
					.item-experience__icon 
						img(src=require("./fa-solid_awardexpenience.png"), alt="fa-solid_awardexpenience")
					p.item-experience__volume 98%
					p.item-experience__text Environmental 
			.experience__column
				.experience__item.item-experience
					.item-experience__icon 
						img(src=require("./carbon_tool-boxexpenience.png"), alt="carbon_tool-boxexpenience")
					p.item-experience__volume 746 +
					p.item-experience__text Business & Finance 