.practice {
	&__vp {
		padding: calc(125 / 1046 * 100%) 0 calc(80 / 1046 * 100%) 0;
	}
	&__head {
		margin-bottom: 45px;
	}

	&__row {
		& > * {
			margin-bottom: 30px;
		}
	}

	&__column {
	}

	&__item {
	}
	@include from(592px) {
		&__row {
			@include row-flex();
		}
		&__column {
			@include col();
			@include size(6);
		}
	}
	@include lg-block() {
		&__row {
			& > * {
				margin-bottom: 0;
			}
		}
		&__column {
			@include col();
			@include size(3);
		}
	}
}
.item-practice {
	display: flex;
	flex-direction: column;
	height: 100%;
	&__content {
		flex: 1 1 auto;
		padding: 30px;
		text-align: center;
		@include lg-block {
			text-align: left;
		}
	}

	&__title {
		margin-bottom: 15px;
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0.1px;
		color: #252b42;
	}

	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 143%;
		letter-spacing: 0.2px;
		color: #737373;
	}

	&__image {
		position: relative;
		// padding-bottom: calc(138 / 230 * 100%);
		padding-bottom: 60%;
		img {
			padding: 0 5px 5px;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
