.post
	.container
		.post__body
			.post__content 
				p.post__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
			.post__footer 
				ul.post__date
					li.post__date-item
						time(datetime='21-06-2020') 21.06.2020
.post
	.container
		.post__body
			.post__header
				.post__image 
					a(href="./post-full.html") 
						img(src=require("./Rectangle.jpg"), alt="")
			.post__content 
				a.post__title(href="#")  Как писать код быстро и безболезненно?
				p.post__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
			.post__footer 
				ul.post__date
					li.post__date-item
						time(datetime='21-06-2020') 21.06.2020
					li.post__date-item
						a(href="./post-full.html") создание сайтов
				a.post__make(href="./post-full.html") читать
.post
	.container
		.post__body
			.post__header.post__header--video
				.embed 
					<iframe width="560" height="315" src="https://www.youtube.com/embed/HVXWlxt_CAc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			.post__content 
				a.post__title(href="#") Купил новый ноутбук за 150 000 руб
			.post__footer 
				ul.post__date
					li.post__date-item
						time(datetime='21-06-2020') 21.06.2020
					li.post__date-item
						a(href="./post-full.html") продвижение видео
				a.post__make(href="./post-full.html") оставить комментарий
.post
	.container
		.post__body
			.post__header
				.post__image 
					a(href="./post-full.html") 
						img(src=require("./Rectangle 5.jpg"), alt="")
			.post__content 
				a.post__title(href="./post-full.html") Как я сходил на FrontEnd Conf 2021
				p.post__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
			.post__footer 
				ul.post__date
					li.post__date-item
						time(datetime='21-06-2020') 21.06.2020
					li.post__date-item
						a(href="./post-full.html") конференции
				a.post__make(href="./post-full.html") читать