body[data-state="menu-open"] {
	overflow: hidden;
}
.menu-icon {
	padding: 9px;

	&__body {
		position: relative;
		z-index: $z-header;
		width: 30px;
		height: 18px;
		& span,
		&::before,
		&::after {
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			transition: transform 0.15s ease 0s;
			background: #000;
		}
		span {
			top: 50%;
			transform: translate(0, -50%);
		}
		&::before,
		&::after {
			content: "";
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
	}
	&::after {
		content: "";
		position: absolute;
		z-index: 1;
		left: 0;
		top: -100%;
		width: 100%;
		height: 100%;
		transition: top 0.3s ease 0;
		background: #000;
	}
	&[data-state="menu-open"] {
		.menu-icon__body {
			span,
			&::after,
			&::before {
				background: #fff;
				top: 50%;
				transition: transform 0.3s ease 0s;
			}
			span,
			&::before {
				transform: rotate(135deg);
			}
			&::after {
				transform: rotate(45deg);
			}
		}
		&::after {
			content: "";
			top: 0;
			transition: top 0.35s ease-in-out;
		}
	}
	@include sm-block {
		display: none;
	}
}
.nav {
	position: fixed;
	left: 0;
	top: -100%;
	width: 100%;
	height: 100%;
	overflow: auto;
	transition: all 0.3s ease 0s;
	background: rgba(0, 0, 0, 0.9);

	&__list {
		@include mb(10px);
	}

	&__li {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__link {
		font-weight: 600;
		font-size: 27px;
		line-height: 171%;
		letter-spacing: 0.2px;
		color: #737373;
	}
	&[data-state="menu-open"] {
		top: 0;
		padding-top: 25%;
		@include xs(padding-top, 22%);
		@include sm(padding-top, 18%);
		transition: all 0.3s ease 0s;

		.nav__link {
			&:hover {
				padding-bottom: 5px;
				line-height: 210%;
				// font-size: 30px;
				color: #fff;
				transition: all 0.3s ease 0s;
			}
		}
	}
	@include sm-block {
		position: relative;
		background: transparent;
		&__list {
			display: flex;
			@include mb(0);
			@include mr(21px);
		}
		&__link {
			font-size: 14px;
			&:hover {
				line-height: 191%;
				font-size: 16px;
				border-bottom: 2px solid #252b42;
				color: #3d3d3d;
				transition: all 0.1s ease 0s;
			}
		}
	}
}
