.menu-icon
	.menu-icon__body
		span
nav.nav
	ul.nav__list
		li.nav__li
			a.nav__link(href="#") Home
		li.nav__li
			a.nav__link(href="#") Product
		li.nav__li
			a.nav__link(href="#") Pricing
		li.nav__li
			a.nav__link(href="#") Contact