.stories
	.container
		.stories__row
			.item-stories(data-modal='stories')
				img(src=require("./Rectangle 4.jpg"), alt="")
				h3.item-stories__title Отдыхаю на природе
				time.item-stories__date(datetime='21-09-2020') 21.09.2020
			.item-stories(data-modal='stories')
				img(src=require("./Rectangle 4-1.jpg"), alt="")
				h3.item-stories__title Заканчиваю сложный проект
				time.item-stories__date(datetime='15-09-2020') 15.09.2020
			.item-stories(data-modal='stories')
				img(src=require("./Rectangle 4-2.jpg"), alt="")
				h3.item-stories__title Переехал в новую квартиру
				time.item-stories__date(datetime='11-09-2020') 11.09.2020
			.item-stories(data-modal='stories')
				img(src=require("./Rectangle 4-3.jpg"), alt="")
				h3.item-stories__title Осень пришла!
				time.item-stories__date(datetime='28-08-2020') 28.08.2020