
.container
	h2.works__title Мои работы
.post
	.container
		.post__body
			.post__preview.ibg
				img(src=require("./Rectangle 21w.jpg"), alt="image")
			.post__content
				h2.post__title
					a(href="#" target='_blank') altermono.com
				p.post__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
				ul.post__tags
					li.post__tags-item дизайн
					li.post__tags-item создание сайта
					li.post__tags-item SMM
				a.post__button.btn.btn--blue Перейти на сайт
.post
	.container
		.post__body
			.post__preview.ibg
				img(src=require('./Rectangle 21w-1.jpg'), alt="image")
			.post__content
				h2.post__title
					a(href="#" target='_blank') codedoco.com
				p.post__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas.
				ul.post__tags
					li.post__tags-item дизайн
					li.post__tags-item создание сайта
					li.post__tags-item SMM
					li.post__tags-item дизайн
					li.post__tags-item SMM
					li.post__tags-item создание сайта
				a.post__button.btn.btn--blue Перейти на сайт
