.banner {
	position: relative;

	&__image {
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: right;
			opacity: 0.3;
		}
		@include sm-block() {
			& img {
				opacity: 0.5;
			}
		}
		@include from(1130px) {
			& img {
				opacity: 1;
				object-position: center;
			}
		}
	}
	&__container {
		padding-top: 104px;
	}
	&__body {
		position: relative;
		z-index: 1;
		max-width: 411px;
		padding: calc(80 / 1046 * 100%) 0 calc(191 / 1046 * 100%) 0;
		text-align: center;
		@include mb(35px);
	}

	&__title {
		font-weight: 800;
		font-size: rem(58px);
		line-height: 138%;
		letter-spacing: 0.2px;
		color: #252b42;
	}

	&__text {
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		letter-spacing: 0.2px;
		color: #737373;
	}

	&__buttons {
		padding: 0 40px;
		@include mb(15px);
	}

	&__btn {
		padding: 10px 33px;
		border-radius: 37px;
	}
	@include xs-block() {
		&__body {
			text-align: left;
		}
		&__buttons {
			display: flex;
			padding: 0;
			@include mb(0);
			@include mr(10px);
		}
	}
}
