section.banner
	.banner__image 
		img(src=require("./cover.jpg"), alt="main-image")
	.banner__container.container
		.banner__body
			h1.banner__title Finance and Consultancy Solution
			p.banner__text We know how large objects will act, but things on a small scale.
			.banner__buttons 
				a.btn.banner__btn.btn--orange(href="#") Get Quote Now
				a.btn.banner__btn.btn--border(href="#") Learn More