extends ../etc/pug/main.pug

block variables
	- var title = 'Webpack + Pug';
	- var description = 'Description for Webpack + Pug';
	- var pageClass = 'index-page';

block content
	//- section
	main.main
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug
		//- include ../modules/module/module.pug

	//- +item('item title', 'item descr')
	//- +item('item title', 'item descr')
	//- +item('item title', 'item descr')

	//- block script
	//- 	script(type='text/javascript').
	//- 		const foo = true;
	//- 		let num = 15;
	//- 		let bar = function(a) {return a-5};
	//- 		if (foo) 
	//- 			bar(num)
	//- 			console.log("xxxx",num,bar(num))