section.contact
	.container
		.contact__row
			.contact__content
				h3.contact__title Consulting Agency For Your Business
				p.contact__text the quick fox jumps over the lazy dog
			a.contact__button.btn.btn--orange(href="#") Contact Us