.contact {
	&__row {
		padding: 35px 0;
		@include mb(30px);
	}

	&__content {
		text-align: center;
		@include mb(10px);
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 133%;
		letter-spacing: 0.1px;
		color: #252b42;
	}

	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 143%;
		letter-spacing: 0.2px;
		color: #737373;
	}

	&__button {
		max-width: 300px;
		margin: 0 auto;
		padding: 15px 38px;
		line-height: 158%;
		border-radius: 5px;
	}

	@include md-block() {
		&__row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include mb(0);
		}

		&__content {
			text-align: left;
		}

		&__button {
			margin-right: 12px;
		}
	}
}
