footer.footer 
	section.footer-top
		.container
			.footer-top__row
				.footer-top__column
					.footer-top__item.item-ft
						h5.item-ft__title Company Info
						nav.item-ft__nav
							ul.item-ft__list
								li.item-ft__li
									a.item-ft__link(href="#") About Us
								li.item-ft__li
									a.item-ft__link(href="#") Carrier
								li.item-ft__li
									a.item-ft__link(href="#") We are hiring
								li.item-ft__li
									a.item-ft__link(href="#") Blog
				.footer-top__column
					.footer-top__item.item-ft
						h5.item-ft__title Legal
						nav.item-ft__nav
							ul.item-ft__list
								li.item-ft__li
									a.item-ft__link(href="#") About Us
								li.item-ft__li
									a.item-ft__link(href="#") Carrier
								li.item-ft__li
									a.item-ft__link(href="#") We are hiring
								li.item-ft__li
									a.item-ft__link(href="#") Blog
				.footer-top__column
					.footer-top__item.item-ft
						h5.item-ft__title Features
						nav.item-ft__nav
							ul.item-ft__list
								li.item-ft__li
									a.item-ft__link(href="#") Business Marketing
								li.item-ft__li
									a.item-ft__link(href="#") User Analytic
								li.item-ft__li
									a.item-ft__link(href="#") Live Chat
								li.item-ft__li
									a.item-ft__link(href="#") Unlimited Support
				.footer-top__column
					.footer-top__item.item-ft
						h5.item-ft__title Resources
						nav.item-ft__nav
							ul.item-ft__list
								li.item-ft__li
									a.item-ft__link(href="#") IOS & Android
								li.item-ft__li
									a.item-ft__link(href="#") Watch a Demo
								li.item-ft__li
									a.item-ft__link(href="#") Customers
								li.item-ft__li
									a.item-ft__link(href="#") API
				.footer-top__column
					.footer-top__item.item-ft
						h5.item-ft__title Get In Touch
						nav.item-ft__nav
							ul.item-ft__list
								li.item-ft__li
									a.item-ft__link.item-ft__link--phone(href="#") (480) 555-0103
								li.item-ft__li
									a.item-ft__link.item-ft__link--map(href="#") 4517 Washington Ave...
								li.item-ft__li
									a.item-ft__link.item-ft__link--email(href="#") debra.holt@example.com