.getintouch {
	&__vp {
		padding: calc(80 / 1046 * 100%) 0 calc(148 / 1046 * 100%) 0;
	}
	&__head {
		padding-bottom: calc(80 / 1046 * 100%);
	}

	&__row {
		margin: 0 -15px;

		& > :nth-child(2) {
			order: 1;

			@include from(1027px) {
				order: 0;
			}
		}
		@include sm-block {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin: 0 32px;

			& > * {
				flex: 1 1 auto;
			}
		}
	}

	&__item {
	}
}

.item-getintouch {
	padding: 50px 40px;
	text-align: center;
	transition: all 0.3s ease 0s;
	background: #ffffff;
	color: #252b42;

	@include mb(15px);

	&__image {
		height: 74px;

		svg path {
			fill: #0d5c63;
		}
	}

	&__emails {
	}

	&__email {
		display: block;
		font-weight: 600;
		font-size: 14px;
		line-height: 171%;
		letter-spacing: 0.2px;
		color: inherit;
	}

	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0.1px;
		color: inherit;
	}

	&__button {
		display: inline-block;
		padding: 10px 20px;
		font-weight: 600;
		font-size: 14px;
		line-height: 171%;
		letter-spacing: 0.2px;
		border: 1px solid #ff7b47;
		border-radius: 5px;
		color: #ff7b47;
	}

	&--active {
		padding: 80px 40px;
		transition: all 0.3s ease 0s;
		background: #252b42;
		color: #fff;

		.item-getintouch__image {
			svg path {
				fill: #fff;
			}
		}
		.item-getintouch__button {
			border-color: #fff;
			color: #fff;
		}
	}

	&:hover {
		padding: 80px 40px;
		transition: all 0.3s ease 0s;
		background: #252b42;
		color: #fff;

		.item-getintouch__image {
			svg path {
				fill: #fff;
			}
		}
		.item-getintouch__email {
			&:hover {
				color: #ff7b47;
				text-decoration: underline;
				transition: all 0.2s ease 0s;
			}
		}
		.item-getintouch__button {
			border-color: #fff;
			color: #fff;
			&:hover {
				border-color: #ff7b47;
				color: #ff7b47;
				transition: all 0.2s ease 0s;
			}
		}
	}
}
